.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */
.gold {
  color: gold; /* Customize the text color as needed */
}

.silver {
  color: silver; /* Customize the text color as needed */
}

.bronze {
  color: #cd7f32; /* Customize the text color as needed */
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Add a border to separate list items */
}

/* Highlight styles for the top 3 users */
li.gold,
li.silver,
li.bronze {
  background-color: transparent; /* Reset background color */
}

li.gold {
  background-color: gold;
}

li.silver {
  background-color: silver;
}

li.bronze {
  background-color: #cd7f32; /* Bronze */
}
